<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <form class="edit-playlist-form">
     <div>
       <label for="artist">Edit Artist:</label>
      <input class="input" name="post-content" type="text" value="{{post.post_content}}" />
    </div>
    <div>
        <label for="song-title">Edit Title:</label>
      <input class="input" name="song-title" type="text" value="{{playlist.song_title}}" />
    </div>
    <div>
       <label for="genre">Edit Genre:</label>
      <input class="input" name="genre" type="text" value="{{playlist.genre}}" />
    </div>
     <div class="is-pulled-right">
       created by you on {{format_date post.created_at}}
      |
      {{!-- <a href="/playlists/{{playlist.id}}">{{playlist.comments.length}} {{format_plural "comment" playlist.comments.length}}</a> --}}
    </div>
    <button type="submit">Save playlist</button>
    <button type="button" class="delete-playlist-btn">Delete playlist</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{!-- {{> comments post.comments}} --}}

<script src="/javascript/edit-playlist.js"></script>
<script src="/javascript/delete-playlist.js"></script>
{{!-- <script src="/javascript/comment.js"></script> --}}